body {
  background-color: #f4f4f4;
  padding: 1rem;
}

.locationText {
  position: absolute;
  top: 20px;
  left: 400px;
  right: 200px;
  color: #404040;
}

#main-header {
  padding: 1.2rem;
  border: 2px solid;
  border-radius: 7px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#header-body,
#header-body .hbinner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hbinner {
  gap: 1rem;
}

.svg-con {
  padding: 0.5rem;
  border-radius: 7px;
  background-color: #05c7f2;
}

.smart-con a h1,
.smart-con p {
  margin: 0;
}

.h1Text {
  font-size: 1.7rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #c9c7b9;
}

#header-body button {
  padding: 0.7rem 1rem;
  background-color: #05c7f2;
  color: #f4f4f4;
  border-radius: 7px;
  border: none;
}

#main {
  margin: 0 auto;
  width: 80%;
}

.form-header {
  background-color: #05c7f2;
  margin-top: 2rem;
  padding: 3.5rem 2.5rem 1.5rem 2.5rem;
  border-radius: 8px 8px 0 0;
}

.form-header h2,
.form-header p {
  margin: 0;
}

.form-header h2 {
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  color: #f4f4f4;
}

.form-header p {
  font-size: 0.8rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: normal;
  color: #000;
}

#form-area {
  padding: 2.5rem;
}

#form-area2,
#form-area3 {
  padding: 2.5rem 2rem 1rem 4.5rem;
}

#form-area h3,
#form-area2 h3,
#form-area3 h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  color: #404040;
  font-size: 1.5rem;
}

#form-sec1 input,
#form-sec1 select {
  width: 100%;
}

#form-sec1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem; /* space between rows and columns */
  padding: 1rem;
  max-width: 80%;
  margin: auto;
}

#form-sec1 > div {
  display: flex;
  flex-direction: column;
}

#form-sec1 label,
#form-sec2 label,
#form-sec2-text label {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #404040;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#form-sec1 span,
#form-sec2 span,
#form-sec2-text span {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: red;
  margin-left: 4px;
}

#form-sec1 input,
#form-sec1 select,
#form-sec1 textarea {
  width: 100%;
  padding: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 1rem;
}

.hidden {
  display: none;
}

#form-sec2 {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#form-sec2 button {
  padding: 1.5rem;
  width: 100%;
  border: 2px dashed;
  border-radius: 7px;
}

#form-sec2-text {
  padding: 0 0 0.5rem 4rem;
}

.form-area2-p {
  padding: 0 0 0.5rem 5rem;
}

#form-area4 {
  width: 95%;
  padding: 2rem 1.3rem;
  text-align: right;
}

#form-area4 button {
  padding: 1rem 1.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  gap: 0.5rem;
  border: none;
  background-color: #05c7f2;
  color: #f4f4f4;
}

#form-area4 span {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.scanner-con {
  display: flex;
  gap: 1rem;
  padding: 1rem 0 1rem 0;
  align-items: center;
}

.fingerprint h4,
.fingerprint p {
  margin: 0;
  padding: 0.2rem;
}

.fingerprint h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
}

.scanner-con svg {
  padding: 0.5rem;
  border-radius: 7px;
  background-color: #05c7f2;
  color: #f4f4f4;
}

.scannow {
  padding: 0.6rem 1.5rem;
  border: none;
  background-color: #05c7f2;
  color: #f4f4f4;
  border-radius: 7px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  justify-content: center;
}

.scannow-images-con {
  display: none;
  text-align: right;
  padding: 0.3rem;
}

.fingerprint-image {
  width: 4rem;
  height: 4rem;
}

#disabilityCon {
  display: none;
  margin-top: 1rem;
}

/* Optional: Responsive stacking for mobile */
@media (max-width: 768px) {
  body {
    padding: 0.1rem;
  }
  #main-header {
    padding: 0.8rem 0.4rem;
    border: 2px solid;
  }

  .svg-con {
    padding: 0.3rem;
    border-radius: 5px;
    background-color: #05c7f2;
  }

  .h1Text {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.7rem;
  }

  .svg-con svg {
    width: 1rem;
    height: 1rem;
  }

  #header-body button {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
  }

  #main {
    width: 100%;
  }

  .form-header {
    background-color: #05c7f2;
    margin-top: 1.2rem;
    padding: 2.5rem 1rem 1rem 1rem;
    border-radius: 7px 7px 0 0;
  }

  .form-header h2 {
    font-size: 1.6rem;
  }

  .form-header p {
    font-size: 0.8rem;
  }

  #form-area {
    padding: 0.4rem 1rem;
  }

  #form-area h3,
  #form-area2 h3,
  #form-area3 h3 {
    font-size: 1.4rem;
  }

  #form-sec1 {
    grid-template-columns: 1fr;
    gap: 1.5rem 1.5rem;
    padding: 0.7rem 0.5rem 0.5rem 0.5rem;
  }

  #form-sec1 > div {
    display: flex;
    flex-direction: column;
  }

  #form-sec1 input,
  #form-sec1 select {
    width: 100%;
    padding: 0.8rem;
    font-size: 0.8rem;
  }

  #form-area2,
  #form-area3 {
    padding: 1rem 1rem 0 1.5rem;
  }

  #form-sec2 {
    width: 90%;
  }

  #form-sec2 button {
    padding: 1rem 0rem 1rem 0rem;
    width: 100%;
    border: 2px dashed;
    border-radius: 7px;
  }

  #form-sec2-text {
    padding: 0 0 0.5rem 1.5rem;
  }

  .form-area2-p {
    padding: 0 0 0.5rem 1rem;
  }

  #form-area4 {
    padding: 1rem 0.7rem;
  }

  #form-area4 button {
    padding: 1rem 0.9rem;
    border-radius: 5px;
  }

  #form-area4 span {
    font-size: 0.7rem;
  }

  .scanner-con {
    gap: 0.6rem;
    padding: 0.7rem 0 0.7rem 0;
  }

  .fingerprint h4 {
    font-size: 1rem;
  }

  .scanner-con svg {
    padding: 0.5rem;
    border-radius: 5px;
  }

  .scannow {
    padding: 0.6rem 1.5rem;
    border-radius: 5px;
    font-size: 0.7rem;
  }

  .fingerprint-image {
    width: 2.5rem;
    height: 2.5rem;
  }
}
